@use 'sass:map';
@use 'sass:math';
@use 'vars';

@mixin thin-scrollbar-color($color, $background: --color-transparent)
{
    .thin-scrollbar
    {
        scrollbar-color: var($color) var($background);
    }
}

@function strip-unit($value)
{
    @return math.div($value, ($value * 0 + 1));
}

@function getSize($fontSize, $size)
{
    @return #{math.div($size, strip-unit($fontSize))}em;
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) 
{
    $u1: math.unit($min-vw);
    $u2: math.unit($max-vw);
    $u3: math.unit($min-font-size);
    $u4: math.unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 
    {
        &,
        & .initial-zoom
        {
            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) 
            {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) 
            {
                font-size: $max-font-size;
            }
        }
    }
}

@mixin buildSizes($fontSize, $dimensions: ())
{
    $dimensions: map.deep-merge(vars.$dimensions, $dimensions);

    --color-transparent: transparet;

    --size-none: 0;
    --size-xs: #{math.div(map.get($dimensions, 'sizeXs'), $fontSize)}em;
    --size-sm: #{math.div(map.get($dimensions, 'sizeSm'), $fontSize)}em;
    --size-md: #{math.div(map.get($dimensions, 'sizeMd'), $fontSize)}em;
    --size-lg: #{math.div(map.get($dimensions, 'sizeLg'), $fontSize)}em;
    --size-bg: #{math.div(map.get($dimensions, 'sizeBg'), $fontSize)}em;

    --size-neg-xs: #{math.div(map.get($dimensions, 'negXsWidth'), $fontSize)}em;
    --size-neg-sm: #{math.div(map.get($dimensions, 'negSmWidth'), $fontSize)}em;
    --size-neg-md: #{math.div(map.get($dimensions, 'negMdWidth'), $fontSize)}em;
    --size-neg-lg: #{math.div(map.get($dimensions, 'negLgWidth'), $fontSize)}em;

    --size-font-xxs: #{math.div(map.get($dimensions, 'fontXxs'), $fontSize)}em;
    --size-font-xs: #{math.div(map.get($dimensions, 'fontXs'), $fontSize)}em;
    --size-font-sm: #{math.div(map.get($dimensions, 'fontSm'), $fontSize)}em;
    --size-font-md: #{math.div(map.get($dimensions, 'fontMd'), $fontSize)}em;
    --size-font-lg: #{math.div(map.get($dimensions, 'fontLg'), $fontSize)}em;
    --size-font-xl: #{math.div(map.get($dimensions, 'fontXl'), $fontSize)}em;
    --size-font-xxl: #{math.div(map.get($dimensions, 'fontXxl'), $fontSize)}em;
    --size-font-xxxl: #{math.div(map.get($dimensions, 'fontXxxl'), $fontSize)}em;

    --border-radius-small: #{math.div(map.get($dimensions, 'borderRadiusSmall'), $fontSize)}em;
    --border-radius: #{math.div(map.get($dimensions, 'borderRadius'), $fontSize)}em;
    --border-radius-medium: #{math.div(map.get($dimensions, 'borderRadiusMedium'), $fontSize)}em;
    --responsive-threshold-md: map.get($dimensions, 'responsiveThresholdMd');

    --size-1px: #{math.div(1, $fontSize)}em;
    --size-2px: #{math.div(2, $fontSize)}em;
    --size-3px: #{math.div(3, $fontSize)}em;
    --size-4px: #{math.div(4, $fontSize)}em;
    --size-5px: #{math.div(5, $fontSize)}em;
    --size-6px: #{math.div(6, $fontSize)}em;
    --size-7px: #{math.div(7, $fontSize)}em;
    --size-8px: #{math.div(8, $fontSize)}em;
    --size-9px: #{math.div(9, $fontSize)}em;
    --size-10px: #{math.div(10, $fontSize)}em;
    --size-11px: #{math.div(11, $fontSize)}em;
    --size-12px: #{math.div(12, $fontSize)}em;
    --size-13px: #{math.div(13, $fontSize)}em;
    --size-14px: #{math.div(14, $fontSize)}em;
    --size-15px: #{math.div(15, $fontSize)}em;
    --size-16px: #{math.div(16, $fontSize)}em;
    --size-17px: #{math.div(17, $fontSize)}em;
    --size-18px: #{math.div(18, $fontSize)}em;
    --size-19px: #{math.div(19, $fontSize)}em;
    --size-20px: #{math.div(20, $fontSize)}em;
    --size-21px: #{math.div(21, $fontSize)}em;
    --size-22px: #{math.div(22, $fontSize)}em;
    --size-23px: #{math.div(23, $fontSize)}em;
    --size-24px: #{math.div(24, $fontSize)}em;
}

@mixin css-reset
{
    *,
    *::before,
    *::after 
    {
        box-sizing: border-box;
    }
 
    *
    {
        margin: 0;
        padding: 0;
        font: inherit;
    }
}